{% extends "BillingSol/templateusermaster.html" %}
{% block title %}
View / Edit Location List
{% endblock %}
{% block content %}





{% for message in messages %} 
<div class="callout">
    <div class="callout-header">Notifications</div>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
    <div class="callout-container">
    
        <div class="alert alert-danger alert-dismissible">
            <p> {{ message }}"</p>
            </div>
    </div>
</div>
{% endfor %}

<form action="" method="POST">

    
    <div class="">
        
    
        
        <div class="" style="width:100%; height:560px; background-color: white; padding-top: 10px;    ">
            <div class="row">
                <div class="col">

                    <div class="box-Type3" style="height:560px; background-color: white; padding-left: 1.4ch; padding-right: 2ch;">
                    



                        <div class="row">
                                
                            <div class="col" style="height: 50px; box-shadow: 2px 2px lightgray;  height:50px;   ">
                                
                                <table style="width:100%; height:100%">
                                        
                                    <tr class="row"  style="width:100%; "> 
                                        <td class=""  style="width:20%;">
                                                
                                        </td>
                                        <td class=""  style="width:500px;  ">
                                                
                                            <h6  style="color:black; text-align: center;  width: 320px; font-weight: bold; font-size: 15px; text-shadow: 1px 1px grey;">Master - View / Edit Location List</h6> 
                            
                                        </td>
                                        <td class=""  style="width:10%;">
                                                
                                            <input type="submit" name="cmbSaveAdd"  value="Save" class="btn btn-success btn-user btn-block" style="font-size:11px; font-weight: bold; padding:2px 2px 2px 2px; border-radius: 3px; height:31px;  box-shadow: 2px 1px 2px rgb(141, 124, 124);  width:90px;"> 
                                            
                                        </td>
                                        <td class=""  style="width:10%;">
                                                
                                            <input type="submit" name="cmbCloseAdd"  value="Close" class="btn btn-default btn-user btn-block" style="font-size:11px; font-weight: bold; padding:2px 2px 2px 2px; border-radius: 3px; height:31px;  box-shadow: 2px 1px 2px rgb(141, 124, 124);  width:90px;"> 
                                            
                                        </td>
                                    </tr>
                                </table>
                                <table style="width:100%; ">
                                            
                                    <tr class="row"  style="width:100%; " >
                                        <td class=""  style="width:10%; padding-top: 0.1em; height:10px;">

                                        </td>
                                        <td class=""  style="width:20%; padding-top: 0.1em;">
                                                
                                        </td>
                                        <td class=""  style="width:50%; padding-top: 0.2em;">
                                                
                                        </td>
                                        <td class=""  style="width:5%;  "> 
                                        </td>
                                        <td class=""  style="width:5%; "> 
                                        </td>
                                        <td class=""  style="width:10%;">
                                            
                                        </td> 
                                    </tr>
                                </table>



                                <table style="width:100%; height:100%">
                                    <tr class="row"  style="width:100%; ">
                                        <td class=""  style="width:20px;">

                                        </td>
                                        <td class=""  style="width:48%;">
                                              
                                                        
                                            <table style="width:100%;  ">
                                                <tr class="row"  style="width:100%; "> 
                                                    <td class=""  style="width:30%;">
                                                        
                                                    </td> 
                                                    <td class=""  style="width:40%;">
                                                            
                                                        <h6  style="color:black; text-align: center;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Company Name</h6> 
                                        
                                                        <input type="text"  name="txtCompany"   value="{{Mcompanylist_list.scompanyname}}"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 400px;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                    
                                                    </td>   
                                                    <td class=""  style="width:30%;">
                                                        
                                                    </td> 
                                                </tr>
                                                <tr class="row"  style="width:100%; "> 
                                                    <td class=""  style="width:40%; height:10px;">
                                                             
                                                    </td>  
                                                    <td class=""  style="width:60%;">
                                                         
                                                    </td> 
                                                </tr> 
                                                <tr class="row"  style="width:100%; "> 
                                                    <td class=""  style="width:30%;">
                                                        
                                                    </td> 
                                                    <td class=""  style="width:40%;">
                                                            
                                                        <h6  style="color:black; text-align: center;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Location Name</h6> 
                                        
                                                        <input type="text"  name="txtsLocation"  value="{{Mcompanylist_list.slocation}}"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 400px;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                    
                                                    </td>   
                                                    <td class=""  style="width:30%;">
                                                        
                                                    </td> 
                                                </tr>
                                                <tr class="row"  style="width:100%; "> 
                                                    <td class=""  style="width:40%; height:10px;">
                                                             
                                                    </td>  
                                                    <td class=""  style="width:60%;">
                                                         
                                                    </td> 
                                                </tr> 
                                            </table>
  
                                            <table style="width:100%; height:100%">
                                                <tr class="row"  style="width:100%; "> 
                                                    <td class=""  style="width:20px;;">
                                                        
                                                    </td> 
                                                    <td class=""  style="width:99%;">
                                                            
                                                        
                                                        <table style="width:100%; height:100%">

                                                            <tr class="row"  style="width:100%; ">
                                                                
                                                                
                                                                <td class=""  style="width:100%;">
                                                                                
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Address</h6> 
                                                    
                                                                    <input type="text"  name="txtAddress1"  value="{{Mcompanylist_list.address1}}"  placeholder="Address Line 1"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                
                                                                </td> 


                                                            </tr> 
                                                            <tr class="row"  style="width:100%; height:10px;">
                                                            </tr> 
                                                            <tr class="row"  style="width:100%; ">
                                                                
                                                                
                                                                <td class=""  style="width:100%;">
                                                                              
                                                                    <input type="text"  name="txtAddress2"  value="{{Mcompanylist_list.address2}}"  placeholder="Address Line 2"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                
                                                                </td> 


                                                            </tr> 
                                                            <tr class="row"  style="width:100%; height:10px;">
                                                            </tr> 
                                                            <tr class="row"  style="width:100%; ">
                                                                
                                                                
                                                                <td class=""  style="width:100%;">
                                                                              
                                                                    <input type="text"  name="txtAddress3"  value="{{Mcompanylist_list.address3}}"  placeholder="Address Line 3"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                
                                                                </td> 


                                                            </tr> 
                                                            <tr class="row"  style="width:100%; height:10px;">
                                                            </tr> 
                                                            <tr class="row"  style="width:100%; ">
                                                                
                                                                
                                                                <td class=""  style="width:100%;">
                                                                    <div class="row"   >
                                                                        <div class="col-5"   >
       
                                                                            <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">City</h6> 
                                                    
                                                                            <input type="text"  name="txtCity" value="{{Mcompanylist_list.scity}}"   placeholder="City"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 98%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                        
                                                                        </div>
                                                                        <div class="col-2"   >
    
                                                                            <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Pincode</h6> 
                                                    
                                                                            <input type="text"  name="txtPincode"  value="{{Mcompanylist_list.lpin}}"  placeholder="Pincode"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 70px;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                        
                                                                        </div>
                                                                        <div class="col-5"   >
    
                                                                            <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">State</h6> 
                                                    
                                                                            <input type="text"  name="txtState"  value="{{Mcompanylist_list.sstate}}"  placeholder="State"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 98%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                        
                                                                        </div>
                                                                    </div>

                                                                </td> 


                                                            </tr>

                                                            <tr class="row"  style="width:100%; height:10px;">
                                                            </tr> 
                                                            <tr class="row" style="width:100%; "> 
                                                                <td class=""  style="width:100%;">
                                                                      
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Contact Person</h6> 
                                                    
                                                                    <input type="text"  name="txtContactPerson" value="{{Mcompanylist_list.contactperson}}"   placeholder="Contact Person"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 98%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                         
                                                                </td> 
                                                            </tr> 
                                                            <tr class="row" style="width:100%; height:10px;">
                                                            </tr> 
                                                            <tr class="row" style="width:100%; "> 
                                                                <td class=""  style="width:100%;">
                                                                        
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Contact Number</h6> 
                                                    
                                                                    <input type="text"  name="txtContactNumber"  value="{{Mcompanylist_list.contactno}}"  placeholder="Contact Number"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 98%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                       
                                                                </td> 
                                                            </tr> 
                                                            <tr class="row" style="width:100%; height:10px;">
                                                            </tr> 
                                                            <tr class="row" style="width:100%; "> 
                                                                <td class=""  style="width:100%;">
                                                                        
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">EMail Address</h6> 
                                                    
                                                                    <input type="text"  name="txtEMailAddress"  value="{{Mcompanylist_list.emailid}}"  placeholder="EMail Address"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 98%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                       
                                                                </td> 
                                                            </tr> 
                                                            <tr class="row" style="width:100%; height:10px;">
                                                            </tr> 
                                                            <tr class="row" style="width:100%; "> 
                                                                <td class=""  style="width:100%;">
                                                                        
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">State GST Code</h6> 
                                                    
                                                                    <input type="text"  name="txtStateCode"  value="{{Mcompanylist_list.sstatecode}}"   placeholder="State Code"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 98%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                       
                                                                </td> 
                                                            </tr> 
                                                        </table>


                                                    </td>     
                                                </tr> 
                                            </table>

                                             
                                        </td>  
                                        <td class=""  style="width:20px;">

                                        </td>   
                                        <td class=""  style="width:48%;">
                                               
                                            <table style="width:100%; height:100%">
                                                <tr class="row"  style="width:100%; "> 
                                                    <td class=""  style="width:100%;">
                                                              
                                                        <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">GST #</h6> 
                                        
                                                        <input type="text"  name="txtGST"  placeholder="GST #"  value="{{Mcompanylist_list.sgstno}}"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff;  height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                    
                                                    </td> 
                                                </tr> 
                                                <tr class="row"  style="width:100%; height:10px;">
                                                    <td class=""  style="width:100%;">
                                                    </td> 
                                                </tr> 
                                                <tr class="row"  style="width:100%; "> 
                                                    <td class=""  style="width:100%;">
                                                              
                                                        <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">PAN #</h6> 
                                        
                                                        <input type="text"  name="txtPAN"  placeholder="PAN #"  value="{{Mcompanylist_list.spanno}}"  class="form-control" required    tabindex="1"  maxlength="200"     style="background-color:#ecf6ff; height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                    
                                                    </td> 
                                                </tr> 
                                                <tr class="row"    style="width:100%; height:10px;">
                                                    <td class=""  style="width:100%;">
                                                    </td> 
                                                </tr> 
                                                <tr class="row"    style="width:100%; "> 
                                                    <td class=""  style="width:100%;">
                                                             
                                                        <table style="width:100%; height:100%">
                                                            <tr class="row"  style="width:100%; "> 
                                                                <td class=""  style="width:20%;">
                                                                
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Maintenance Current Inv running No.</h6> 
                                                    
                                                                    <input type="text"  name="txtMaintenanceNo"  value="{{Mcompanylist_list.linvoice1}}"  placeholder="0"  class="form-control"      tabindex="1"  maxlength="200"   readonly  style="background-color:#ecf6ff; height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                
                                                                </td> 
                                                                <td class=""  style="width:20%;">
                                                                
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Maintenance Invoice Format</h6> 
                                                    
                                                                    <input type="text"  name="txtMaintenanceFormat"  value="{{Mcompanylist_list.sformat1}}"    class="form-control"      tabindex="1"  maxlength="200"      style="background-color:#ecf6ff; height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                
                                                                </td> 
                                                                <td class=""  style="width:30%;">
                                                                    
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Maintenance Default Note 1</h6> 
                                                    
                                                                    <textarea id="txtMaintenanceInvDefault1" value="{{Mcompanylist_list.scomments1}}"  name="txtMaintenanceInvDefault1"   class="form-control"  rows="4" cols="50" style="background-color:#ecf6ff; height:65px; width: 99%;  font-size: 12px; border-radius: 2px;" > </textarea>
                                                            
                                                                </td> 
                                                                <td class=""  style="width:30%;">
                                                                    
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Maintenance Default Note 2</h6> 
                                                    
                                                                    <textarea id="txtMaintenanceInvDefault2" value="{{Mcompanylist_list.sterms1}}"  name="txtMaintenanceInvDefault2"   class="form-control"  rows="4" cols="50" style="background-color:#ecf6ff; height:65px; width: 99%;  font-size: 12px; border-radius: 2px;" > </textarea>
                                                                
                                                                </td> 
                                                            </tr> 
                                                        </table>
                                                    </td> 
                                                </tr> 
                                                <tr class="row"    style="width:100%; height:10px;">
                                                    <td class=""  style="width:100%;">
                                                    </td> 
                                                </tr> 
                                                <tr class="row"    style="width:100%; "> 
                                                    <td class=""  style="width:100%;">
                                                             
                                                        <table style="width:100%; height:100%">
                                                            <tr class="row"  style="width:100%; "> 
                                                                <td class=""  style="width:20%;">
                                                                
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Project Current Inv running No.</h6> 
                                                    
                                                                    <input type="text"  name="txtProjectNo"  value="{{Mcompanylist_list.linvoice2}}"  placeholder="0"  class="form-control"      tabindex="1"  maxlength="200"   readonly  style="background-color:#ecf6ff; height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                
                                                                </td> 
                                                                <td class=""  style="width:20%;">
                                                                
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Project Invoice Format</h6> 
                                                    
                                                                    <input type="text"  name="txtProjectFormat"    value="{{Mcompanylist_list.sformat2}}"   class="form-control"      tabindex="1"  maxlength="200"      style="background-color:#ecf6ff; height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                
                                                                </td> 
                                                                <td class=""  style="width:30%;">
                                                                    
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Project Default Note 1</h6> 
                                                    
                                                                    <textarea id="txtProjectInvDefault1"  value="{{Mcompanylist_list.scomments2}}"  name="txtProjectInvDefault1"   class="form-control"  rows="4" cols="50" style="background-color:#ecf6ff; height:65px; width: 99%;  font-size: 12px; border-radius: 2px;" > </textarea>
                                                                
                                                                    </td> 
                                                                    <td class=""  style="width:30%;">
                                                                    
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Project Default Note 2</h6> 
                                                    
                                                                    <textarea id="txtProjectInvDefault2"  value="{{Mcompanylist_list.sterms2}}" name="txtProjectInvDefault2"   class="form-control"  rows="4" cols="50" style="background-color:#ecf6ff; height:65px; width: 99%;  font-size: 12px; border-radius: 2px;" > </textarea>
                                                            
                                                                </td> 
                                                            </tr> 
                                                        </table>
                                                    </td> 
                                                </tr> 
                                                <tr class="row"   style="width:100%; height:10px;">
                                                    <td class=""  style="width:100%;">
                                                    </td> 
                                                </t> 
                                                <tr class="row"  style="width:100%; "> 
                                                    <td class=""  style="width:100%;">
                                                             
                                                        <table style="width:100%; height:100%">
                                                            <tr class="row"  style="width:100%; "> 
                                                                <td class=""  style="width:20%;">
                                                                
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">PO Current Inv running No.</h6> 
                                                    
                                                                    <input type="text"  name="txtPONo"  value="{{Mcompanylist_list.linvoice3}}"  placeholder="0"  class="form-control"      tabindex="1"  maxlength="200"   readonly  style="background-color:#ecf6ff; height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                
                                                                </td> 
                                                                <td class=""  style="width:20%;">
                                                                
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">PO Invoice Format</h6> 
                                                    
                                                                    <input type="text"  name="txtPOFormat"   value="{{Mcompanylist_list.sformat3}}"    class="form-control"      tabindex="1"  maxlength="200"      style="background-color:#ecf6ff; height:25px; width: 100%;  font-size: 12px; border-radius: 2px;"  autofocus/>
                                                                
                                                                </td> 
                                                                <td class=""  style="width:30%;">
                                                                    
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">PO Default Note 1</h6> 
                                                    
                                                                    <textarea id="txtPOInvDefault1"  value="{{Mcompanylist_list.scomments3}}"  name="txtPOInvDefault1"   class="form-control"  rows="4" cols="50" style="background-color:#ecf6ff; height:65px; width: 99%;  font-size: 12px; border-radius: 2px;" > </textarea>
                                                                
                                                                    </td> 
                                                                    <td class=""  style="width:30%;">
                                                                    
                                                                    <h6  style="color:black; text-align: left;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">PO Default Note 2</h6> 
                                                    
                                                                    <textarea id="txtPOInvDefault2"  value="{{Mcompanylist_list.sterms3}}" name="txtPOInvDefault2"   class="form-control"  rows="4" cols="50" style="background-color:#ecf6ff; height:65px; width: 99%;  font-size: 12px; border-radius: 2px;" > </textarea>
                                                                
                                                                </td> 
                                                            </tr> 
                                                        </table>
                                                    </td> 
                                                </tr> 
                                                <tr class="row"  style="width:100%; height:10px;">
                                                    <td class=""  style="width:100%;">
                                                    </td> 
                                                </tr> 
                                                <tr class="row"  style="width:100%; "> 
                                                    <td class=""  style="width:100%;">
                                                                        
                                                        <table style="width:100%; height:100%">
                                                            <tr class="row"  style="width:100%; "> 
                                                                <td class=""  style="width:50%;">
                                                                    {% if binactive == 0 %}
                                                                        <input type="radio" id="radActive" name="fav_language" checked value="Active">
                                                                        <label for="radActive">Active</label> 
                                                                    {% else %}
                                                                        <input type="radio" id="radActive" name="fav_language"  value="Active">
                                                                        <label for="radActive">Active</label> 
                                                                    {% endif %}
                                                                    
                                                                </td> 
                                                                <td class=""  style="width:50%;">
                                                                    {% if binactive == 1 %}
                                                                        <input type="radio" id="radinActive" name="fav_language" checked value="inActive">
                                                                        <label for="radinActive">inActive</label> 
                                                                    {% else %}
                                                                        <input type="radio" id="radinActive" name="fav_language"   value="inActive">
                                                                        <label for="radinActive">inActive</label> 
                                                                    {% endif %}
                                                                </td> 
                                                            </tr> 
                                                        </table>


                                                    </td> 
                                                </tr> 
                                            </table>


                                            <table style="width:100%; height:100%">
                                                <tr class="row"  style="width:100%; "> 
                                                    <td class=""  style="width:100%;">
                                                        
                                                    </td> 
                                                </tr> 
                                            </table>


                                        </td> 
                                    </tr>
                                </table>
 


                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</form>


{% endblock %}