{% extends "iWorkPro/templatehome.html" %}
{% load static %} 
{% block title %}
Welcome to
{% endblock %}
{% block content %}

    {% for message in messages %}
        <!-- <div class="alert alert-danger alert-dismissible" role="alert" onclick="this.style.display='none';">


                <span class="closebtn" onclick="this.parentElement.style.display='none';"> {{ message }}</span>
            
                
                
        </div>-->
        <div class="callout">
            <div class="callout-header">Notifications</div>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
            <div class="callout-container">
            
                <div class="alert alert-danger alert-dismissible">
                    <p> {{ message }}</p>
                    </div>
            </div>
        </div>



    {% endfor %}
     
        <div class="" >




            <div class="" style="width:100%; height:560px; background-color:  #f1f1f1;  padding-left: 10px;   padding-right: 10px;    ">
                <div class="row">
                    <div class="col">
            
                        <div class="box-Type3" style="height:560px; background-color: white; padding-left: 1.4ch; padding-right: 2ch;  margin-left: 1.4ch;   margin-right: 20px; ">
                        
            
            
            
                            <div class="row">
                                    
                                <div class="col" style="height: 50px; box-shadow: 2px 2px lightgray; background-color: #dad6d6; height:50px;   ">
                                     
                                    <table style="width:100%; height:100%">
                                                             
                                        <form action="" method="POST">       
                                         
                                        <tr class="" style="width:100%; height:60%">
                                            <td class=""  style="width:10%; padding-top: 1px;">
            
                                                <h6  style="color:black; text-align: right;  width: 420px; font-weight: bold; font-size: 15px;  ">Master - Department List</h6> 
                                
                                            </td> 
                                            <td class=""  style="width:4%; padding-top:1px;">
                                                     
                                            </td>
                                            <td class=""  style="width:20%; padding-top:1px;">
                                                      
                                                    <a title="Add New Department" style="" href="{% url 'DepartmentListAdd' %}" style="color:white;">
                                                        <div style="border-radius: 25px; width:30px;  hieght:30px; background-color:green;  padding-left:7px; border: 2px solid green;"    >  
                                                            <i class="fa-solid fa-plus"  style="color:white;"></i> 
                                                    
                                                        </div>
                                                    
                                                    </a>
                                            </td> 
                                            <td class=""  style="width:4%; padding-top:1px;">
                                                     
                                            </td>
                                            <td class=""  style=" width:20%; padding-top:1px;">
                                                <div class="pseudo-search" style="background-color:white;">
                                                    <input type="text" name="txtSearch" value="{{sSearch}}" placeholder="Search..." autofocus required style="width:220px; border:none;">
                                                    
                                                    
                                                    <button class="fa fa-search" name="cmdSearch" type="submit" style="border:none; background-color:transparent;"> </button>
                                                  </div>
                                                
               
                                            </td>
                                            <td class=""  style="width:4%; padding-top:1px;">
                                                     
                                            </td>
                                            <td class=""  style="width:10%; ppadding-top:1px;">
                                                                            
                                                    <input type="submit" name="cmdRefresh"  value="Refresh" class="btn btn-success btn-user btn-block" style="font-size:11px; font-weight: bold; padding:2px 2px 2px 2px;   background-image: linear-gradient(#42A1EC, #0070C9);  border: 1px solid #13aa52;  border-radius: 4px;  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;  box-sizing: border-box;  color: #fff; transform: translateY(0);  transition: transform 150ms, box-shadow 150ms;  user-select: none;  -webkit-user-select: none;  touch-action: manipulation; height:31px; width:90px;"> 
                                                 
                                            </td> 
                                        </tr>
                                        </form>
                                    </table>
                                    <table style="width:100%; height:100%">
                                        <tr class="row" style="width:100%; height:20%">
                                            <td class="col"  style="width:10%;">
            
                                            </td>
                                            <td class="col"  style="width:20%;">
                                                    
                                            </td>
                                            <td class="col"  style="width:60%;">
                                                    
                                            </td>
                                            <td class="col"  style="width:10%;">
                                                    
                                            </td>
                                        </tr>
                                    </table>
                                </div>  
                            </div>
            
             
                            <div class="row" style="padding-left: 1.4ch;  ">
                                    
                                <div class="col" >
                                     
                                    <table style="width:100%;  ">                             
            
                                        <tr>
                                            <td style="height:13px;">
                                                
                                            </td> 
                                        </tr>
                                    </table>


                                    {% if Adepartmentlist_list %}
                          
                                    <div style="width:100%; height:450px; overflow: auto;">         
                                        <table  class="table  table-borderless   table-hover" style="width:100%;   border:none;  ">
                                            
                                            <thead>         
                                                <tr   style="width:100%; height:46px;  border:none; border-bottom:2px solid #E8E8E8;">  
                                                    <th   style="padding-top:10px; width:10%;  border:none; ">
                                                        
                                                        <h6  style="color:black; text-align: left;  font-weight:bold; font-size: 13px; ">Sl No</h6>
                                                    
                                                    </th> 
                                                    <th   style="padding-top:10px; width:80%; border:none;   ">
                                                        
                                                        <h6  style="color:black; text-align: left;  font-weight:bold; font-size: 13px; ">Department</h6>
                                                    
                                                    </th> 
                                                    <th   style="padding-top:10px; width:10%;  border:none; ">
                                                        
                                                        <h6  style="color:black; text-align: left;  font-weight:bold; font-size: 13px; ">Action</h6>
                                                    
                                                    </th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for Adepartmentlist_listOBJ in Adepartmentlist_list %}
                                                    <tr   style="width:100%;  height:21px; border:none; border-bottom:2px solid #E8E8E8;">
        
        
           
                                                        <td   style=" width:10%; height:21px;  border:none;  background-color: white;">
                                                            <h6 style="color:black; text-align: left;  font-size: 12px; "> {{ forloop.counter }}</h6> 
                                                    
                                                        </td> 
                                                        <td   style="  width:80%;  height:21px; border:none;  background-color: white;">
                                                            
                                                            <h6 style="color:black; text-align: left;  font-size: 13px; ">{{Adepartmentlist_listOBJ.sdeptname}}</h6>  
                                                        
                                                        </td>  
                                                        <td   style="padding-top:10px; width:10%;  border:none; ">
                                                             
                                                                <a title="View / Edit Department" style="" href="/DepartmentListEdit/{{Adepartmentlist_listOBJ.lid}}" style="color:white;">
                                                                    <div style="border-radius: 3px; width:25px;  hieght:25px; background-color:white;  padding-left:6px; border: 1px solid orange;"    >  
                                                                        <i class="fa-solid fa-edit"  style="font-size:12px; color:orange;"></i> 
                                                                
                                                                    </div>
                                                                
                                                                </a>
                                                        
                                                        </td> 
                                                    </tr> 
                                                </tbody>     
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                           
                                    <table style="width:100%;    ">
                                        <tr class="row" style="width:100%;  height:40px;">
                                            <td class="col"  style="padding-top:10px; width:2%;  background-color: white;">
                                                    
                                                
                                            </td> 
                                            <td class="col"  style="padding-top:10px; width:90%;  background-color: white;">
                                                
                                            
                                                <p>No Department List are available.</p> 
                                            </td>
                                            <td class="col"  style="padding-top:10px; width:8%;  background-color: white;">
                                                
                                              
                                            </td> 
                                        </table>
                                {% endif %}



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div> 



{% endblock %}



