{% extends "CloudCaliber/TemplateAdministrator1.html" %}
{% block title %}
Add New Range List
{% endblock %}
{% block content %}





{% for message in messages %} 
<div class="callout">
    <div class="callout-header">Notifications</div>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
    <div class="callout-container">
    
        <div class="alert alert-danger alert-dismissible">
            <p> {{ message }}</p>
            </div>
    </div>
</div>
{% endfor %}

<form action="" method="POST">

    
    <div class="">
        
    
        
        <div class="" style="width:100%; height:560px; background-color: white; padding-top: 10px; padding-left: 230px;  ">
            <div class="row">
                <div class="col">

                    <div class="box-Type3" style="height:560px; background-color: white; padding-left: 1.4ch; padding-right: 2ch;">
                    



                        <div class="row">
                                
                            <div class="col" style="height: 50px; box-shadow: 2px 2px lightgray; background-color: #92caff; height:50px;   ">
                                
                                <table style="width:100%; height:100%">
                                        
                                    <tr class="row" style="width:100%; "> 
                                        <td class=""  style="width:20%;">
                                                
                                        </td>
                                        <td class=""  style="width:500px;  ">
                                                
                                            <h6  style="color:black; text-align: center;  width: 320px; font-weight: bold; font-size: 15px; text-shadow: 1px 1px grey;">Master - View / Edit Range List</h6> 
                            
                                        </td>
                                        <td class=""  style="width:10%;">
                                                
                                            <input type="submit" name="cmbSaveAdd"  value="Save" class="btn btn-success btn-user btn-block" style="font-size:11px; font-weight: bold; padding:2px 2px 2px 2px; border-radius: 1px; height:31px;  box-shadow: 2px 1px 2px rgb(141, 124, 124);  width:40px;"> 
                                            
                                        </td>
                                        <td class=""  style="width:10%;">
                                                
                                            <input type="submit" name="cmbCloseAdd"  value="Close" class="btn btn-primary btn-user btn-block" style="font-size:11px; font-weight: bold; padding:2px 2px 2px 2px; border-radius: 1px; height:31px;  box-shadow: 2px 1px 2px rgb(141, 124, 124);  width:40px;"> 
                                            
                                        </td>
                                    </tr>
                                </table>
                                <table style="width:100%; ">
                                            
                                    <tr class="row" style="width:100%; " >
                                        <td class=""  style="width:10%; padding-top: 0.1em; height:10px;">

                                        </td>
                                        <td class=""  style="width:20%; padding-top: 0.1em;">
                                                
                                        </td>
                                        <td class=""  style="width:50%; padding-top: 0.2em;">
                                                
                                        </td>
                                        <td class=""  style="width:5%;  "> 
                                        </td>
                                        <td class=""  style="width:5%; "> 
                                        </td>
                                        <td class=""  style="width:10%;">
                                            
                                        </td> 
                                    </tr>
                                </table>



                                <table style="width:100%; height:100%">
                                    <tr class="row" style="width:100%; ">
                                        <td class=""  style="width:5%;">

                                        </td>
                                        <td class=""  style="width:80%;">
                                              
                                                        
                                            <table style="width:100%; height:100%">
                                                <tr class="row" style="width:100%; "> 
                                                    <td class=""  style="width:40%;">
                                                            
                                                        <h6  style="color:black; text-align: center;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;">Range Name</h6> 
                                        
                                                    </td>  
                                                    <td class=""  style="width:60%;">
                                                        
                                                        <input type="text"  name="txtsrange" class="form-input basic " required    tabindex="1"  maxlength="200"    value="{{AdminRangeList_list.srange}}"  style=" width: 400px;  font-size: 12px; border-radius: 0ch;"  autofocus/>
                                                    
                                                    </td> 
                                                </tr>
                                                <tr class="row" style="width:100%; "> 
                                                    <td class=""  style="width:40%; height:20px;">
                                                             
                                                    </td>  
                                                    <td class=""  style="width:60%;">
                                                         
                                                    </td> 
                                                </tr> 
                                                <tr class="row" style="width:100%; "> 
                                                    <td class=""  style="width:40%;">
                                                            
                                                        <h6  style="color:black; text-align: center;  width: 120px; font-weight: bold; font-size: 12px; text-shadow: 1px 1px grey;" >Range Code</h6> 
                                        
                                                    </td>  
                                                    <td class=""  style="width:60%;">
                                                        
                                                        <input type="text"   value="{{AdminRangeList_list.scode}}" name="txtsrangescode" class="form-input basic " required    tabindex="1"  maxlength="200"     style=" width: 400px;  font-size: 12px; border-radius: 0ch;"  autofocus/>
                                                    
                                                    </td> 
                                                </tr>
                                                <tr class="row" style="width:100%; "> 
                                                    <td class=""  style="width:40%; height:20px;">
                                                             
                                                    </td>  
                                                    <td class=""  style="width:60%;">
                                                         
                                                    </td> 
                                                </tr> 
                                            </table>


                                             
                                        </td> 
                                        <td class=""  style="width:5%;">
                                                
                                        </td>
                                    </tr>
                                </table>
 


                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</form>


{% endblock %}