{% extends "CloudCaliber/Template2.html" %}


{% block title %}
    Master List
{% endblock %}
{% block content %}
 
{% for message in messages %} 
<div class="callout">
    <div class="callout-header">Notifications</div>
    {% comment %} <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span> {% endcomment %}
    <div class="callout-container">
    
        <div class="alert alert-danger alert-dismissible">
            <p> {{ message }}</p>
            </div>
    </div>
</div>
{% endfor %}

<form action="" method="POST"   > 


    <div  class="modal-dialog modal-dialog-centered" role="document" style="min-width:800px;">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #E5E7E7; min-width:600px;">
    
            <table style="min-width:90%;">
    
              <tr>
    
                <td>
    
                  <h5 class="modal-title" id="exampleModalLongTitle1" ><span class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px; font-weight: 500;"> ID :   </span><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.sinstrumentid}}</span></h5>  
            
            
                </td>
                <td>
      
                  <h5 class="modal-title" id="exampleModalLongTitle2" ><span class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px; font-weight: 500;"> Description :   </span><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.sdescription}}</span></h5>  
            
              
                </td>
            
              </tr>
            
            </table>
    
    
            <button type="button" class="btn-close" data-bs-dismiss="modal"  style="background-color: #E5E7E7;"></button>
          </div>
          <div class="modal-body"  style="background-color: #f2f2f2; min-width:600px;">
            
    
            <table  style="min-width:100%;">
    
              <tr>
    
                <td>
    
                  <h5 class="modal-title" id="exampleModalLongTitle3"><span class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px; font-weight: 500;">Plant :   </span><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.splanttype}}</span></h5>  
            
            
                </td> 
            
              </tr>
            </table>
    
            <table  style="min-width:100%; margin-top:10px;">
            
              <tr>
    
                <td style="height:10px; border-top: 1px lightgray solid;"> 
     
            
                </td> 
            
              </tr>
            
            </table>
            <table  style="min-width:100%;">
    
              <tr>
    
                <td>
    
                  <h5 class="modal-title" id="exampleModalLongTitle4"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Classification : </span>  <span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.sassettype}}</span></h5>  
            
            
                </td>
                <td>
      
                  <h5 class="modal-title" id="exampleModalLongTitle5"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Category : </span>  <span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.categorytype}}</span></h5>  
            
              
                </td>
            
              </tr>
            </table>
    
            <table  style="min-width:100%; margin-top:10px;">
            
              <tr>
    
                <td style=" height:10px; border-top: 1px lightgray solid;"> 
     
            
                </td> 
            
              </tr>
            </table>
    
            <table  style="min-width:100%;">
    
              <tr>
    
                <td>
    
                  <h5 class="modal-title" id="exampleModalLongTitle6"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">{{Masterinstrumentslist_listA.scategorytype1}} : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.styperefname1}}</span></h5>  
            
            
                </td>
                <td>
      
                  <h5 class="modal-title" id="exampleModalLongTitle7"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">{{Masterinstrumentslist_listA.scategorytype2}} : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.styperefname2}}</span></h5>  
            
              
                </td>
                <td>
      
                  <h5 class="modal-title" id="exampleModalLongTitle8"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">{{Masterinstrumentslist_listA.scategorytype3}} : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.styperefname3}}</span></h5>  
            
              
                </td>
                <td>
      
                  <h5 class="modal-title" id="exampleModalLongTitle9"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">{{Masterinstrumentslist_listA.scategorytype4}} : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.styperefname4}}</span></h5>  
            
              
                </td>
                <td>
      
                  <h5 class="modal-title" id="exampleModalLongTitle10"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">{{Masterinstrumentslist_listA.scategorytype5}} : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.styperefname5}}</span></h5>  
            
              
                </td>
            
              </tr>
            </table>
    
            <table  style="min-width:100%; margin-top:10px;">
            
              <tr>
    
                <td style="height:10px; border-top: 1px lightgray solid;"> 
     
            
                </td> 
              </tr>
            </table>
    
            
    
            <table style="min-width:100%;">
    
              <tr>
    
                <td style="min-width:120px;">
    
                  <h5 style="width:120px;" class="modal-title" id="exampleModalLongTitle11"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Current Location : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.slocationname}}</span></h5>  
            
            
                </td>
                <td style="width:30px;">
      
                </td>
                <td style="min-width:120px;">
      
                  <h5 style="width:120px;" class="modal-title" id="exampleModalLongTitle12"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Make : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.smake}}</span></h5>  
            
              
                </td>
                <td style="width:30px;">
      
                </td>
                <td style="min-width:120px;">
      
                  <h5 style="width:120px;" class="modal-title" id="exampleModalLongTitle13"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">For Part No : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.spartno}}</span></h5>  
            
              
                </td>
                <td  style="min-width:120px;">
      
                  <h5 style="width:120px;" class="modal-title" id="exampleModalLongTitle14"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Old Id (if any) : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.oldinstrument_id}}</span></h5>  
            
              
                </td>
                <td style="width:30px;">
      
                </td>
                <td  style="min-width:120px;">
      
                  <h5 style="width:120px;" class="modal-title" id="exampleModalLongTitle15"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Status : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.scurrentstatus}}</span></h5>  
            
              
                </td>
            
              </tr>
            </table>
    
            <table  style="min-width:100%; margin-top:10px;">
            
              <tr>
    
                <td style="height:10px; border-top: 1px lightgray solid;"> 
     
            
                </td> 
            
              </tr>
            </table>
    
    
            
    
            <table style="min-width:100%;">
    
              <tr>
    
                <td style="min-width:120px;">
    
                  <h5 style="width:120px;" class="modal-title" id="exampleModalLongTitle11"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Calibration Frequency : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.sfreqtype}}</span></h5>  
            
            
                </td>
                <td style="width:30px;">
      
                </td>
                <td style="min-width:120px;">
      
                  <h5 style="width:120px;" class="modal-title" id="exampleModalLongTitle12"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Last Calibration : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.snextcalibdate}}</span></h5>  
            
              
                </td>
                <td style="width:30px;">
      
                </td>
                <td style="min-width:120px;">
      
                  <h5 style="width:120px;" class="modal-title" id="exampleModalLongTitle13"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Next Calibration : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.snextcalibdate}}</span></h5>  
            
              
                </td>
                <td  style="min-width:120px;">
      
                  <h5 style="width:120px;" class="modal-title" id="exampleModalLongTitle14"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Issued on : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.sissueddate}}</span></h5>  
            
              
                </td>
                <td style="width:30px;">
      
                </td>
                <td  style="min-width:120px;">
      
                  <h5 style="width:120px;" class="modal-title" id="exampleModalLongTitle15"><span  class="label" style="min-width:200px; color: black; font-size:11px;font-weight: 500; background-color:white; border:1px solid silver; height:20px; width:60px;">Returned on : </span> </br><span style="font-family: Goudy Bookletter 1911, sans-serif; color: black; font-size:11px;font-weight: 500; color: blue; height:20px; width:60px;">{{Masterinstrumentslist_listA.sreturneddate}}</span></h5>  
            
              
                </td>
            
              </tr>
            </table>
    
            <table  style="min-width:100%; margin-top:10px;">
            
              <tr>
    
                <td style="height:10px; border-top: 1px lightgray solid;"> 
     
            
                </td> 
            
              </tr>
            </table>
   
  
   
                
              <table  style="min-width:100%; margin-top:10px;">
              
                <tr>
        
        
                    <td style="height:10px; border-top: 1px lightgray solid;"> 
                      <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Prepone to :  </br></span></h5>  
                      
                      <input type="date"  name="txtPreponeDate" class="custom-select"   value={{ sIssueDate}}     tabindex="1"  maxlength="200"     style=" width: 200px;  font-size: 12px; border-radius: 0ch; height:30px;"  autofocus/>
                                                
                    </td>  
                    <td style="height:10px; border-top: 1px lightgray solid;"> 
                      <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Cause of Damage :  </br></span></h5>  
                      
                      <input type="text"  name="txtCauseofDamage" class="form-control"        tabindex="1"  maxlength="200"       style=" width: 200px;  font-size: 12px; border-radius: 0ch; height:30px;"  autofocus/>
                                                  
                    </td>    
         
        
                    <td style="height:10px; border-top: 1px lightgray solid;">  
    
                        <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Repair Details :  </br></span></h5>  
                      
                        <input type="text"  name="txtRepairDome" class="form-control"        tabindex="1"  maxlength="200"       style=" width: 200px;  font-size: 12px; border-radius: 0ch; height:30px;"  autofocus/>
                                                     
                                       
                    </td> 
                
                </tr>
                
                <tr>
        
        
                    <td style="height:10px; border-top: 1px lightgray solid;"> 
                        <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Repair Done By :  </br></span></h5>  
                        
                        <input type="text"  name="txtReason" class="form-control"        tabindex="1"  maxlength="200"       style=" width: 200px;  font-size: 12px; border-radius: 0ch; height:30px;"  autofocus/>
                                                    
                    </td>  
                    <td style="height:10px; border-top: 1px lightgray solid;"> 
                      <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Repair Ref No / Date :  </br></span></h5>  
                      
                      <input type="text"  name="txtReason" class="form-control"        tabindex="1"  maxlength="200"       style=" width: 200px;  font-size: 12px; border-radius: 0ch; height:30px;"  autofocus/>
                                                  
                    </td>    
         
        
                    <td style="height:10px; border-top: 1px lightgray solid;">  
    
                        <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Repair Vendor Ref Details :  </br></span></h5>  
                      
                        <input type="text"  name="txtReason" class="form-control"        tabindex="1"  maxlength="200"       style=" width: 200px;  font-size: 12px; border-radius: 0ch; height:30px;"  autofocus/>
                                                    
                                       
                    </td> 
                
                </tr>
                
                <tr>
        
        
                    <td style="height:10px; border-top: 1px lightgray solid;"> 
                        <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Damaged On :  </br></span></h5>  
                        
                        <input type="text"  name="txtReason" class="form-control"        tabindex="1"  maxlength="200"  readonly     style="background-color:#FFF9DF;  width: 200px;  font-size: 12px; border-radius: 0ch; height:30px;"  autofocus/>
                                                    
                    </td>  
                    <td style="height:10px; border-top: 1px lightgray solid;"> 
                      <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Damaged Done By :  </br></span></h5>  
                      
                      <input type="text"  name="txtReason" class="form-control"        tabindex="1"  maxlength="200"   readonly    style="background-color:#FFF9DF;  width: 200px;  font-size: 12px; border-radius: 0ch; height:30px;"  autofocus/>
                                                  
                    </td>    
         
        
                    <td style="height:10px; border-top: 1px lightgray solid;">  
    
                        <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Return  Status :  </br></span></h5>  
                    
                        <select name="cmbReturnStatus" id="cmbReturnStatus"   class="selectpicker" data-show-subtext="true"  title="Choose Repair Status..."   data-live-search="true"   style="color:black;   background-color:white; min-width:100%; min-height:32px;  font-size: 12px;" >
                                                                        
                          <option  value="0"    >---select Status ---</option>                       
                          <option  value="1"    >ACCEPT & UNDER CALIBRATION</option>                       
                          <option  value="3"    >QUARANTINE</option>                    
                          <option  value="4"    >SCRAPPED</option>     
                           
      
                      </select>  
                                       
                    </td> 
                
                </tr>
            </table>
            <table  style="min-width:100%; margin-top:10px;">
                
                <tr>
           
                      <td style="height:10px; border-top: 1px lightgray solid;"> 
                        <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Prepone By :  </br></span></h5>  
                        
                        <input type="text"  name="txtPreponedBy" class="form-control"        tabindex="1"  maxlength="200"   readonly  value="{{semployeename}}"   style="background-color:#FFF9DF; width: 200px;  font-size: 12px; border-radius: 0ch; height:30px;"  autofocus/>
                                                    
                      </td>   
                      <td style="height:10px; border-top: 1px lightgray solid;"> 
                        <h5 class="modal-title" id="exampleModalLongTitle2" style="color:blue; font-weight:bold; font-size:11px;"><span>Approved By :  </br></span></h5>  
                        
                        <input type="text"  name="txtApproved" class="form-control"        tabindex="1"  maxlength="200"       style=" width: 200px;  font-size: 12px; border-radius: 0ch; height:30px;"  autofocus/>
                                                    
                      </td>  
           
          
                      <td style="height:10px; border-top: 1px lightgray solid;">  
      
                        
                        <input type="submit" name="cmbPrepone"  value="Save Repair  " class="btn btn-primary btn-user btn-block" disabled style="font-size:11px; font-weight: bold; padding:2px 2px 2px 2px; border-radius: 1px; height:31px;  box-shadow: 2px 1px 2px rgb(141, 124, 124);  width:140px;"> 
                                                    
                      </td> 
                  
                      <td style="height:10px; border-top: 1px lightgray solid;">  
      
                        
                        <input type="submit" name="cmbPrepone"  value="Approve Repair  " class="btn btn-warning btn-user btn-block" disabled style="font-size:11px; font-weight: bold; padding:2px 2px 2px 2px; border-radius: 1px; height:31px;  box-shadow: 2px 1px 2px rgb(141, 124, 124);  width:140px;"> 
                                                    
                      </td> 
                    </tr>
              </table>
   
  
          </div>
          <div class="modal-footer" style="background-color:  #DBF9FC;">
            <a  type="button" class="btn btn-danger"    href="/Dashboard">Close</a>
            <!--<button type="button" class="btn btn-primary">Save changes</button> -->
    
          </div>
        </div>
      </div>
    
</form> 
{% endblock %}
